*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: gray;
}
.card{
    /* border: 2px solid; */
    /* width: 90%; */
    max-width: 600px;
    background: linear-gradient(150deg, #00feba, #5b548a);
    color:#fff;
    margin: 100px auto 0;
    padding :40px 35px;
    text-align: center;
    border-radius: 20px;
}

.search-container{
    /* border: 2px solid; */
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-container input{
    border: 0;
    outline: 0;
    border-radius: 10px;
    height: 60px;
    flex:1 ;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #ebfffc;
    margin-right: 16px;

}
.search-container button{
    border:0;
    outline: 0;
    background-color: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search-container img{
    width: 20px;
}

.weather-icon{
    margin: 50px 0 25px;
}

h1{
    font-size: 70px;
}
h2{
    margin-top: 10px;
    font-size: 35px;
}

.details{
    display: flex;
    justify-content: space-between;
    margin: 100px 50px 50px;
}
.col{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}
.col img{
    width: 60px;/
}
.col div{
    /* border:  1px solid; */
    margin-left: 15px;
    font-size: 22px;
}

.text{
    font-size: 25px;
    margin-bottom: 30px;
    text-align: center;
    color: #545262;
}
.warning{
    font-size: 25px;
    margin-top: 20px;
    color: brown;
    display: none;

}

.weather{
    display: none;
}